@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .custom-article-section-width{
        width: 100%;
    }
    .custom-article-section-margin-left{
        margin-left: 0%;
    }

    .custom-search-bar-width{
        width: 90%;
    }
    .custom-bookmark-bar-width{
        width:90%;
    }
}